<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE log4j:configuration PUBLIC-->
  <!--"-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="true">

    <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
        </layout>
    </appender>

    
    <appender name="main.file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="log/main.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="append" value="true" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
        </layout>
    </appender>

     
     <logger name="testlog4j.testlog4j.App" additivity="false">
        <level value="debug" />
        <appender-ref ref="main.file" />
        <appender-ref ref="default.console" />
    </logger>
    
   
    <root>
        <priority value="debug" />
        <appender-ref ref="default.console" />
        <appender-ref ref="main.file" />
    </root>
</log4j:configuration>

